<?xml version="1.0" encoding="UTF-8"?>
<root>
   <name>Flujo de Tickets</name>
   <key>ticketflow</key>
   <state>stable</state>
   <logo>https://raw.githubusercontent.com/tu_usuario/tu_repositorio/main/docs/logo.png</logo>
   <description>
      <short>
         <en>Plugin que extiende funcionalidades de GLPI</en>
      </short>
      <long>
         <en>Este plugin permite gestionar funcionalidades adicionales en el sistema GLPI. Compatible con versiones recientes.</en>
      </long>
   </description>
   <homepage>https://miweb.com/plugin</homepage>
   <download>https://miweb.com/plugin/download.zip</download>
   <issues>https://miweb.com/plugin/issues</issues>
   <readme>https://miweb.com/plugin/README.md</readme>
   <authors>
      <author>Tu Nombre</author>
   </authors>
   <versions>
      <version>
         <num>1.0.0</num>
         <compatibility>~10.0</compatibility>
         <download_url>https://miweb.com/plugin/download.zip</download_url>
      </version>
   </versions>
   <langs>
      <lang>en_GB</lang>
      <lang>es_ES</lang>
   </langs>
   <license>GPL v2+</license>
   <tags>
      <en>
         <tag>gestion</tag>
         <tag>plugin</tag>
      </en>
   </tags>
   <screenshots>
      <screenshot>https://miweb.com/plugin/screenshot1.png</screenshot>
      <screenshot>https://miweb.com/plugin/screenshot2.png</screenshot>
   </screenshots>
</root>
